body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: black;
    font-family: "Calibri", "Sans-Serif";
}

#main-content, #map-container, #map {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#map {
    background: black;
}

#top-arch {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    pointer-events: none;
    z-index: 1000;
}

h1.continent {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    color: #f3fefd;
    font-family: "Ropa Sans";
    font-weight: 400;
    font-size: 3.2em;
    margin-top: 50px;
    text-shadow: 0px 0px 15px rgba( 160, 219, 217, 255 );
    z-index: 9999;
}


#map-coordinates {
    z-index: 9999;
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: grey;
}

#map .map-controls {
}

#map .toolbar-top-right,
#map .toolbar-top-left,
#map .toolbar-middle,
#map .toolbar-bottom {
    opacity: 0.7;
}

#map .toolbar {
    width: 238px;
    margin-left: 10px;
}

#map .toolbar-top-left {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 51px;
    width: 238px;
    background: url(toolbar_top_left.png);
}

#map .toolbar-top-right {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 51px;
    width: 238px;
    background: url(toolbar_top_right.png);
}

#map .toolbar-middle {
    position: absolute;
    left: 0px;
    width: 238px;
    top: 51px;
    bottom: 19px;
    background: #0c2a2f;
}

#map .toolbar-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 19px;
    width: 238px;
    background: url(toolbar_bottom.png);
}

#map .leaflet-control-layers {
    /*width: 238px;*/
    color: #f3f3fd;
    font-family: "Ropa Sans";
    font-size: 1.5em;
    margin: 1em;
    z-Index: 9999;
    background: transparent !important;
    float: none;
    box-shadow: none;
}

#map .map-controls .toolbar-controls {
    padding: 5px;
    padding-top: 1em;
    font-family: "Ropa Sans";
    color: #f3f3fd;
    position: relative;
    z-index: 999;
}

#map .map-controls .toolbar-controls .toolbar-title {
    padding-left: 0.5em;
    font-size: 2em;
    text-shadow: 0px 0px 5px rgb( 160, 219, 217 );
}

#map .map-controls .toolbar-controls .control-category {
    margin-top: 2..55em;
    margin-bottom: 2em;
}

#map .map-controls .toolbar-controls .control-category-label {
    padding-left: 0.3em;
    font-size: 1.5em;
    text-shadow: 0px 0px 3px rgb( 160, 219, 217 );
}


.leaflet-top {
    top: 133px !important;
}

#map .map-controls .control-category {
    margin: 5px;
}

#map .map-controls .button {
    background: rgb( 2, 19, 22 );
    border: solid 1px white;
    border-radius: 15px;
    overflow: hidden;
    margin: 2px;
    padding: 2px;
    text-align: center;
    color: white;
    float: left;
}

#map .map-controls .button-label {
    display: none;
}

#map .map-controls .active {
    background: rgb( 130, 189, 187 ) !important;
    border: solid 1px black;
}

#map .map-controls .button img {
    width: 64px;
    height: 64px;
    padding: 0px;
    margin: 0px;
}

#map .map-owner-label {
    color: white;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, -1px -1px black, -1px 1px black, 1px 1px black, 1px -1px black;
}

#usercontrols {
    z-index: 9999;
    position: absolute;
    top: 2em;
    left: 2em;

    color: #88dddf;
}

#login .name-prompt {
    margin-right: 1em;
    font-style: italic;
    font-weight: lighter;
    font-size: 100%;
}

#login input {
    background: #072b34;
    border: solid 1px #88dddf;
    padding: 0.2em;
    color: white;
}

#userinfo div {
    display: inline;
}

#userinfo div.section {
    margin-right: 40px;
}

#userinfo span.label {
    margin-right: 5px;
}

#userinfo select.outfit {
    background: rgb(7,3,52);
    color: white;
    border: 0;
}

