body {
    width: 100%;
    background: black;
    font-family: "Calibri", "Sans-Serif";
}

#map-layer {
    position: absolute;
    background: #222;
    width: 100%;
    right: 0px;
    top: 30px;
    bottom: 0px;
}

#map {
    background: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#map-layer .map-controls {
}

#map-layer .map-controls .active {
    background: #444 !important;
}

#map-layer .map-controls .button {
    background: black;
    border: solid 1px white;
    border-radius: 15px;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}

#map-layer .map-controls .button img {
    width: 64px;
    height: 64px;
}

#map-controls div.control {
    margin: auto;
    text-align: center;
    padding: 5px;
    color: white;
    border-bottom: solid 2px white;
}

#map-layer .map-owner-label {
    color: white;
    font-weight: bold;
    font-size: 120%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, -1px -1px black, -1px 1px black, 1px 1px black, 1px -1px black;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 20px;
    height: 33px;

    color: white;

    background: -moz-linear-gradient(top,  rgba(7,43,52,1) 0%, rgba(5,71,76,1) 54%, rgba(99,204,204,1) 57%, rgba(11,114,132,1) 60%, rgba(9,79,92,1) 80%, rgba(7,43,52,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(7,43,52,1)), color-stop(54%,rgba(5,71,76,1)), color-stop(57%,rgba(99,204,204,1)), color-stop(60%,rgba(11,114,132,1)), color-stop(80%,rgba(9,79,92,1)), color-stop(100%,rgba(7,43,52,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(7,43,52,1) 0%,rgba(5,71,76,1) 54%,rgba(99,204,204,1) 57%,rgba(11,114,132,1) 60%,rgba(9,79,92,1) 80%,rgba(7,43,52,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(7,43,52,1) 0%,rgba(5,71,76,1) 54%,rgba(99,204,204,1) 57%,rgba(11,114,132,1) 60%,rgba(9,79,92,1) 80%,rgba(7,43,52,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(7,43,52,1) 0%,rgba(5,71,76,1) 54%,rgba(99,204,204,1) 57%,rgba(11,114,132,1) 60%,rgba(9,79,92,1) 80%,rgba(7,43,52,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(7,43,52,1) 0%,rgba(5,71,76,1) 54%,rgba(99,204,204,1) 57%,rgba(11,114,132,1) 60%,rgba(9,79,92,1) 80%,rgba(7,43,52,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#072b34', endColorstr='#00072b34',GradientType=0 ); /* IE6-9 */
}

#login {
    display: inline;
}

#userinfo div {
    display: inline;
}

#userinfo div.section {
    margin-right: 40px;
}

#userinfo span.label {
    margin-right: 5px;
}

#userinfo select.outfit {
    background: rgb(7,43,52);
    color: white;
    border: 0;
}

#under-construction {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
    z-index: 9999;
    color: red;
    font-size: 500%;
    text-align: center;
}

